/*Selectores de ID´s*/
#titulo{
    color:blue;
}
#logo{
    /*margin-top: 200px;*/
}
/*Selectores de clases*/
.azul{
 color:blue;
}
.logo{
    margin-top:200px;
}
/*Selectores con clase y ID*/
#titulo.titulo{
    font-size: 60px;
}
/*Selectores con dos clases*/
.tituloCurso.azul{
    color:blue;
}
/*Selectores con elementos HTML*/
p{
    color:brown;
}
h2{
    color:orange;
}
h3{
    color:green;
}
img{
    width: 200px;
}
/*Selectores con elementos HTML y ID*/
img#logo{
    width: 600px;
}
h2#titulo{
    color:orange;
}
/*Selectores con elemntos HTML y Clases*/
section.seccion{
    background: gray;
}
div.noticia{
    background: white;
}
/*Selector universaL*/
/*
*{
    color:black!important;
    font-size: 20px!important;
}*/
#listado-cursos *{
    font-size: 30px;
}
.noticia *{
    font-size: 20px;
}
/*Seleccionando grupos*/
h2,h3,p,a{
    text-transform: uppercase;
}
h2,h3{
    text-align: center;
}
/*Selector descendiente*/
nav#navegacion{
    background: yellow;
}
nav#navegacion ul{
    list-style: none;
}
nav#navegacion ul li{
    display: inline;
}
nav#navegacion ul li a{
    color:white;
}
/*Selector con hijos*/
section#cursos > ul{
border:1px solid black;
}
ul#listado-cursos >li{
color:red;
} 
ul#listado-cursos li ul >li{
    color:green;
    }
/*Selector con elemntos adyacentes*/
ul#listado-cursos + p {
background-color: red!important;
color:white;
}
/*Selector para enlaces*/
a[href*="facebook.com"] {
background-color:yellow;
} 
a[href*="google.com"] {
    background-color:purple;
    }
    /*Selectores de atributo*/
    img[id="logo"]{
        margin-top: 0;
    }
    [class="section"]{
        background-color: blue!important;
    }
    /*Selectores con Pseudoclases*/
    div .menu nav ul li a:focus,
    div .menu nav ul li a:visited,
    div .menu nav ul li a:active{
     color:black;
    }  
    div .menu nav ul li:first-child a{
        text-decoration: none;
    }
    div .menu nav ul li a:hover{
    background-color:purple;
    }
    h2:hover{
        color:orange!important;
    }
    /*Selectores con Pseudoclases y NTHchild*/
    div .menu nav ul li:nth-child(1){
        background-color: red;
    }
    div .menu nav ul li:nth-child(2){
        background-color: pink;
    }
    div .menu nav ul li:nth-child(3){
        background-color: yellow;
    }
    div .menu nav ul li:nth-child(4){
        background-color: purple;
    }
    table tbody tr:nth-child(odd){
        background-color: yellow;
    }
    table tbody tr:nth-child(even){
        background-color:blue; 
    }